        </div> <!-- ./container -->

        <!-- jQuery CDN -->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>

        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Autosize Text -->
        <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
        <script type="text/javascript">
          autosize(document.getElementById("text-area-comment"));
          autosize(document.getElementById("text-area-edit"));
          autosize(document.getElementById("description"));
          autosize(document.getElementById("bio"));
        </script>

        <!-- Show More/Less -->
        <script type="text/javascript" src="https://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            $(".user-comment-space").shorten({
              "showChars": 300
            });
            $(".campground-text").shorten({
              "showChars": 500
            });
          });
        </script>

    </body>
</html>
