@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* override bootstrap default font */
  font-family: "DM Sans", sans-serif !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
